<body id="edit_group">
  <div class="gray_box">
  <h1 class="index_listing">Editing Group Name</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @group %> |
  <%= link_to 'Back', '/groups/'%>
  </div>
</body>
