<%= @user.email %>

<%= link_to "current_user_show", current_user %>

<!-- <div class="row">
  <div class="small-2 large-2 columns">
    <%= rating_for @food, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Food: <%= rating_for @food, "Food" %>
      <br>
    <% end %>
  </div>
</div>  THIS IS FOR STAR RATING FOR RESTAURANTS. WE NEED A PROFILE PAGE FOR WHEN YOU LOGIN-->
