// Place all the styles related to the groupMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index_listing{
  font-size: 30px;
}
 #listing_groups{
  background-color: #ffeecc;
  // background: url(../img/restaurant.jpg) no-repeat center center;
  background: url(../img/banner.jpeg) no-repeat center center;
  background-size: cover;
  // // color: #333;

  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  // font-size: 13pÎ©x;
  line-height: 18px;
}
