body {
  background-color: #ffeecc;
  background: url(../img/banner.jpeg) no-repeat center center;
  background-size: cover;
  color: #333;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: black;
  }

  &:hover {
    color: #fff;
    // background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.gray_box {
  position: center;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  margin-top: 200px;
  margin-left: 270px;
  margin-right: 270px;
  padding-bottom: 50px;
  color:black;
  border-radius: 5%;
}

.index_listing {
  color: #7f7f7f;
}

.table-responsive{
  font-size:15px;
}
 tbody {

    border-spacing: 10px;
 }
.table {
  text-align: left;
}
