// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#edit_profile{
  background: url(../img/water.jpg) no-repeat center center;
   background-size: cover;
 // // color: #333;s


 font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
 // font-size: 13pÎ©x;
 line-height: 18px;
}
